@font-face {
    font-family: Sora;
    src: url(./../Fonts/Sora-Regular.ttf)   
}

@font-face {
    font-family: Sora1;
    src: url(../Fonts/Sora-ExtraLight.ttf);   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Sora';
}
.body{
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3)), url(./../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100%;
    padding-bottom: 100px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.0);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar-a{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}
.boton1{
    color: rgb(5, 5, 5);
}
.boton1:hover{
    font-weight: bold;
    text-decoration: none;
    
}
.container{
    padding: 0;
    margin-top: 90px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 300px;
    /* border: 1px solid red; */
}
.logo{
    width: 180px;
}
.h1{
    color:#FFBCB5;
    padding: 0;
    margin-top:10px;
    font-size: 2.4rem;
    font-family: sora;
    /* border: 1px solid red; */
}
.pBienvenida{
    color: #ffffff;
    text-align:justify;
    width: 300px;
    font-size: 14px;
    /* border: 1px solid red; */
}


.formulario{

    display: flex;
    flex-direction: column;
   
    margin-right: 30px;
}
h3{
    color: #FFBCB5;
}
.input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
 
}
.inputDNI{
    width: 49%;
    padding: 8px 0;
}
.inputCel{
    width: 49%;
}
.inputCor{
    margin-top: 8px;
    width: 100%;
    padding: 10px 0;
}

.boton{
    background-color: rgb(22, 205, 39);
    text-align: center;
    padding: 7px;
    color: rgb(226, 246, 248);
    border-radius:2px;
    font-size: 12px;
    width: 150px;
    margin:0 auto;
} 


.boton:hover{
    box-shadow: 0px 4px 486px 3248px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 0);
    color: rgb(226, 246, 248);
    font-weight: bold;
    text-decoration: none;
}

.p1{
    margin: 15px 0;
    font-size: 10px;
    margin: 20px;
    color: rgb(85, 85, 85);
}



/* footer start */
.footer{
    border-top: 1px solid #4e5358;
    color: #4e5358;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 80%;
    margin: auto;

}

.social-media__links{
    filter: invert(50%);
    margin:  10px;
}

.footer__links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
}

/* footer end */
span{
    font-family: sora;
    font-size: 14px;
    margin-top: 5px;
}
